<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing app to help you find nearest MBTA station</title>
</head>
<body>
    <h1 style = "font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">MBTA Helper</h1>
    <h3 style = "font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Please enter a place/address in the Greater Boston region</h3>
    <form action="" method="post" name="mbta">
        {% if error %}
        <p style="color:red; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Invalid place/address. Try again.</p>
        {% endif %}

        <p style = "font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            Place Name<br>
            <input style = "font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="text" size="20" name='name' required><br>
            City<br>
            <input style = "font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="text" size="20" name='city' required><br>
            <!-- State<br> -->
            <!-- <input type="text" size="20"  name='state' required><br> -->
        </p>
        <input style = "font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="submit" value="Find Nearest Station" size="25" />
    </form>
</body>
</html>
